.main-container{
    display: flex;
    gap: 50px;
}
.post{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.scroll_bar::-webkit-scrollbar{
    width: 4px;
}
.scroll_bar::-webkit-scrollbar-thumb{
    background-color: #050A30;
    border-radius: 5px;
}
@keyframes rotation {
    0%,
    100% {
      transform: rotate(0deg);
    }
    50%,
    100% {
      transform: rotate(180deg);
    }
  }

.rotate-animation{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}
.danger{
    background: rgb(244, 124, 124);
    border: 1px solid red;
}
.rotation-animation{
  animation: rotation  2s;
  animation-iteration-count: infinite;
  transition: ease-in-out;
}