.main-container{
    display: flex;
    gap: 50px;
}
.post{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.scroll_bar::-webkit-scrollbar{
    width: 4px;
}
.scroll_bar::-webkit-scrollbar-thumb{
    background-color: #050A30;
    border-radius: 5px;
}
@keyframes shake {
    0%,
    100% {
      transform: rotate(0deg);
    }
    20%,
    60% {
      transform: rotate(6deg);
    }
    40%,
    80% {
      transform: rotate(-6deg);
    }
  }

.rotate-animation{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}
.danger{
    background: rgb(244, 124, 124);
    border: 1px solid red;
}